@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

#neon{
  font-family: 'Roboto Condensed', sans-serif; 
  font-size: 8rem;
  width:860px;
  color: rgba(0, 255, 255, .05);  /*Inner glow*/
  -webkit-text-stroke: 1vh rgb(220, 255, 255);  /*Neon line*/
  filter: blur(.2vh);
  text-shadow: 0 0 20vh rgba(0, 255, 255, .3); /*Outer glow*/
  cursor: default;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: showText 2s linear;
}

/*Neon line light*/
#neon::after{
  content: "PROTHYMOS '24";
  color: transparent;
  position: absolute;
  left: 0;
  -webkit-text-stroke: 2vh rgba(0, 255, 255, .5); /*Line*/
  filter: blur(.8vh);
  mix-blend-mode: screen;
  pointer-events: none
}

@keyframes showText {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:900px) {
    #neon{ 
        font-size: 6rem;
      }
}

@media (max-width:736px) {
    #neon{ 
        font-size: 4rem;
      }
}

@media (max-width:500px) {
    body{
        padding:10px ;
    }

      #neon{
        font-size: 3.8rem;
        color: rgba(0, 255, 255, .05);  /*Inner glow*/
        -webkit-text-stroke: 0.2vh rgb(220, 255, 255);  /*Neon line*/
        filter: blur(.15vh);
        text-shadow: 0 0 15vh rgba(0, 255, 255, .3); /*Outer glow*/
        cursor: default;
        width:350px; 
      }
      
      /*Neon line light*/
      #neon::after{
        content: "PROTHYMOS '24";
        color: transparent;
        position: absolute;
        left: 0;
        -webkit-text-stroke: 1vh rgba(0, 255, 255, .5); /*Line*/
        filter: blur(.8vh);
        mix-blend-mode: screen;
        pointer-events: none;
        transform: translateY(-70px);
      }


      
}
/* body {
    margin: 0;
    padding: 0;
    background:#000000;
}

.txt {
    color: #ffffff;
    background:#000000;
    font-size:130px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}
.txt::before {
    content: "Prothymos '23";
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
    transform: translateY(-160px);
    opacity: 0;
   animation: showText 2s linear;
   animation-fill-mode: forwards;
}
.gradient{
    background: linear-gradient(114.5793141156962deg, rgba(9,117,121,1) 4.927083333333334%,rgba(255,0,112,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}

@keyframes showText {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media (max-width:900px) {
    .txt {
        font-size:80px;
    }
}

@media (max-width:610px) {
    .txt {
        font-size:60px;
    }

    .dodge{
        height: 200px;
    }
    .neon-wrapper {
        display:flex;
        filter: brightness(200%);
        overflow:hidden;
        transform: translateY(-300px);
        opacity: 0;
       animation: showText 2s linear;
       height: 300px !important;
       animation-fill-mode: forwards;
    }
} */