.table-schedule {
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}

.column-schedule {
    border: 2px solid #c8f2f2;
    padding: 6px;
    margin: 2px;
    width: 33.33%;
}

.column-schedule h1 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #c8f2f2;
    border-bottom: 1px solid #c8f2f2;
    margin-bottom: 10px;
    margin-left: 15px;
}

.column-schedule p {
    font-weight: 500;
    font-size: 0.9rem;
    margin: 15px;
    text-transform: capitalize;
}

.second-heading {
    font-weight: bold;
    font-size: 2.5rem;
    color: #c8f2f2;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media screen and (max-width: 626px) {
    .column-schedule {
      width: 100%;
      padding: 10px 0;
      text-align: center;
    }

    .column-schedule p {
        font-weight: 300;
        font-size: 0.6rem;
        margin: 15px;
        text-transform: capitalize;
    }
  }

  @media screen and (max-width: 459px) {
    .column-schedule {
      width: 100%;
      padding: 8px 0;
      text-align: center;
    }

    .column-schedule p {
        font-weight: 200;
        font-size: 0.4rem;
        margin: 12px;
        text-transform: capitalize;
    }
  }